<app-navbar></app-navbar>
<div class="container">
  <h1>Tasks</h1>
  <p class="lead">All tasks</p>
  <div class="row">
    <div class="col-3">
      <button class="btn btn-defaul" [routerLink]="['/tasks/create']">Create</button>
    </div>
  </div>
  <div class="row" *ngFor="let task of tasksService.tasks">
    <div class="col-3"></div>
    <div class="col-2">{{task.name}}</div>
    <div class="col-2">{{task.type}}</div>
    <div class="col-1">
      <a class="nav-link" [routerLink]="getTaskDetailsURL(task)">Details</a>
    </div>
    <div class="col-1">
      <button class="btn btn-defaul" [routerLink]="getTaskUpdateURL(task)">Update</button>
    </div>
    <div class="col-1">
      <button class="btn btn-defaul" (click)="deleteTask(task)">Delete</button>
    </div>
  </div>
</div>