<app-navbar></app-navbar>
<div class="container">
  <h1>Tasks</h1>
  <p class="lead">All tasks</p>
  <div class="row">
    <div class="col-3">
      <button class="btn btn-defaul" [routerLink]="['/tasks/create']">Create</button>
    </div>
  </div>
  <div class="row" *ngFor="let task of tasksService.tasks">
    <app-list-item class="col-12" [item]="task"
                    [detailsRouterLink]="getTaskDetailsURL(task)"
                    [updateRouterLink]="getTaskUpdateURL(task)"
                    (delete)="deleteTask($event)"></app-list-item>
  </div>
</div>