<app-navbar></app-navbar>
<div class="container">
  <p class="lead">Project's details</p>
  <div class="row">
      <div class="col-2"></div>
      <div class="col-2">{{project.name}}</div>
      <div class="col-2">{{project.owner}}</div>
      <div class="col-2">{{project.type}}</div>
      <div class="col-2"></div>
  </div>
  <p class="lead">Project's tasks</p>
  <!-- <div class="row" *ngFor="let task of project.tasks">
      <div class="col-2"></div>
      <div class="col-2">{{task.name}}</div>
      <div class="col-2">{{task.type}}</div>
      <div class="col-2"></div>
  </div> -->
</div>