<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-4">
      <form class="form-horizontal" (ngSubmit)="onUpdate()">
          <div class="form-group">
            <label class="control-label" for="name-field">Name:</label>
            <input type="text" class="form-control" name="name" id="name-field" 
                placeholder="name" [(ngModel)]="project.name">
          </div>
          <div class="form-group">
            <label class="control-label" for="owner-field">Owner:</label>
            <input type="text" class="form-control" name="owner" id="owner-field" 
                placeholder="owner" [(ngModel)]="project.owner">
            </div>
            <div class="form-group">
              <label class="control-label" for="type-field">Type:</label>
              <input type="text" class="form-control" name="type" id="type-field" 
                  placeholder="type" [(ngModel)]="project.type">
            </div>
        <button class="btn btn-default" type="submit">Update</button>
      </form>
    </div>
  </div>
</div>